@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@variant dark (&:where(.dark, .dark *));
@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.PhoneInputCustom {
  display: flex;
  align-items: center;
  gap: 8px;
}

.PhoneInputCustom .PhoneInputInput {
  border: none !important;
  outline: none !important;
  background: transparent !important;
  box-shadow: none !important;
  width: 100%;
  font-size: 14px;
}